.btn-translate {
    padding: 10px 22px;
    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.15s ease;
}

.btn-translate:hover {
    background: #1565c0;
    transform: translateY(-2px);
}

.btn-translate:active {
    background: #0d47a1;
    transform: translateY(1px);
}

* {
    box-sizing: border-box;
}

/* ===== BODY : IMAGE DE FOND GLOBALE ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;

    background-image: url("images/mur metro.webp");
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

        background-attachment: fixed;
}
h2 {
  text-align: center;
  margin-bottom: 0;
  color: inherit;
}
.section {
  padding: 40px;
  font-size: inherit;
  text-align: center;
  margin-bottom: 1px;
  color: rgb(98, 94, 94);
}

.images-os {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 40px;
}

.blanc {
  background-color:#4a4747;
  color: #000;
  border: 1px solid #292626;
}
.titre-principal {
  display: block;
  width: 100%;
}

.titre-secondaire {
  font-size: 50px;
  text-align: center;
}

.texte-large {
  font-size: 43px;
  text-align: center;
}

h3,
h4,
h5 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.texte-image {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto 80px auto;
}

.texte-colonne {
  flex: 1;
  max-width: 600px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

.texte-colonne h2 {
  font-size: 35px;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

.texte-image img {
  flex: 1;
  max-width: 50%;
  height: auto;
  display: block;
}

.texte-image p {
  max-width: 60%;
  margin: 0;
}


/* =========================================================
   IMAGES / MEDIA
========================================================= */
img {
  max-width: 100%;
  height: auto;
}

.images-os img {
  width: 235px;
  height: 25px;
  transition: transform 0.3s;
}



.hero-image-container {
  display: flex;
  justify-content: center;
  margin-top: -300px;
  margin-bottom: 70px;
}

.hero-image {
  width: 90%;
  max-width: 1000px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

/* =========================================================
   VALEURS SECTION
========================================================= */
.valeurs-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  background-color:rgba(0, 0, 0, 0.305);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.valeur-bloc {
  display: flex;
  align-items: center;
  gap: 40px;
}

.valeur-bloc.inverse {
  flex-direction: row-reverse;
}

.valeur-bloc img {
  width: 50%;
  max-width: 500px;
  height: auto;
}

.valeur-texte {
  margin-top: -70px;
}

.valeur-texte h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.valeur-texte p {
  font-size: 22px;
  line-height: 1.6;
  color: white
}

.valeur-bloc {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 60px;
}

.image-travail {
  width: 500px;
  height: auto;
}

/* =========================================================
   SPONSORS / A PROPOS
========================================================= */
.section.blanches {
  padding-top: 100px;
}

.sections.blanches.valeurs-container {
  display: flex;
  flex-direction: column;
  align-items: center;background-color: #00000052;
}

.sections.blanches.valeurs-contain img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sections.blanches.valeurs-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-propos {
  width: 80%;
  max-width: 1100px;
  display: block;
  margin: 0px auto;
}

/* =========================================================
   LOGOS
========================================================= */
.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.logos-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* =========================================================
   SECTION VIDEOS
========================================================= */
.video-section {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}

.video-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.video-container {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.video-container video {
  width: 100%;
  display: block;
  background: black;
}


/* ===== HEADER COMPACT ===== */
header.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #b99169;;

    width: fit-content;

    /* centrage + débordement à droite */
    margin:0 auto;
    transform: translateX(60px);

    padding: 10px 0;

    /* transparence gauche / droite */
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.9) 30%,
    rgba(0,0,0,0.9) 70%,
    rgba(0,0,0,0) 100%
  );
}

.top-row {
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;   /* 🔥 largeur minimale */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}


/* ===== PANNEAU GAUCHE ===== */
.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    height: 48px;
    width: 130px;
    font-size: 18px;
}


/* ===== STATION ===== */
.station-card {
    width: 150px;
}

.station-card img {
    height: 70px;
}


.station-card img {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.station-name {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

/* ===== MENU ===== */
.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu-logo {
    position: absolute;
    top: -80px;
}

.menu-logo img {
    height: 30px;
}

/* ===== CYLINDRE ===== */
.cylinder {
    width: 420px;
    height: 70px;
    background: linear-gradient(#ffcc25b4, #ffcc25b4, #ffcc25b4);
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ===== DOT ===== */
.dot {
    width: 36px;
    height: 36px;
    background: #ddd;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.dot.active::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ===== LABELS ===== */
.labels {
    width: 420px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
}
/* liens invisibles visuellement */
.cylinder a.dot {
    text-decoration: none;
}

.labels a {
    color: #fff;
    text-decoration: none;
}

.labels a:hover {
    text-decoration: underline;
}
/* ===== ANIMATION LOGO STATION ===== */
.station-logo img {
    width: 45px;
    height: auto;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.station-logo img:hover {
    transform: scale(1.25);
    opacity: 1;
}


/* ===== NEWS ===== */
.news-screen {
    margin-top: 15px;
    width: 420px;
    height: 160px;
    background: #000;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.news-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(transparent, rgba(0,0,0,0.85));
}

.news-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.news-date {
    font-size: 11px;
    opacity: 0.8;
    margin-top: 4px;
    text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 45px;
  margin-bottom: 15px;
}

.footer-copy {
  font-size: 14px;
  color: white;
  margin: 0;
}

/* Centre */
.footer-social {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 150px;
}

/* Droite */
.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  text-align: right;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-lang select {
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 4px;
}
h1, h2, h3, h4, h5, h6 {
  color: #f1e8dc;
  text-shadow:
    0 2px 4px rgba(0,0,0,0.7),
    0 0 10px rgba(185,145,105,0.35);
}
.section.blanc h1,
.section.blanc h2,
.section.blanc h3 {
  text-shadow: none;
  color: #2b1e12;
}
.section p,
.valeur-texte p {
  text-shadow:
    0 1px 2px rgba(0,0,0,0.6),
    0 0 3px rgba(185,145,105,0.25);
}

/* transition fluide */
.header-hide-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: 
    opacity 0.35s ease,
    transform 0.35s ease,
    max-height 0.35s ease;
}

/* fond noir du header */
.sticky-header {
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0,0,0,0.9) 30%,
    rgba(0,0,0,0.9) 70%,
    transparent 100%
  );
  transition: background 0.35s ease;
}

/* AU SCROLL → ON CACHE */
.sticky-header.scrolled .header-hide-zone {
  opacity: 0;
  transform: translateY(-20px);

  max-height: 0;
  overflow: hidden;
  display: none;
}

/* AU SCROLL → ON SUPPRIME LE FOND NOIR */
.sticky-header.scrolled {
  background: transparent;
}
.labels.icons a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.labels.icons a:hover {
  transform: scale(1.2);
  color: #ffcc25;
}

/* icône active (optionnel) */
.labels.icons a.active i {
  color: #000;
}

/** ======================
            GENERAL
    ======================**/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
section {
    margin-top: 50px;
}
.page {
    background-color: #222222c1;
  /*padding: 0px 15%;*/
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    padding-bottom: 40px;
    border-radius: 0px 0px 50px 50px ;
}
/* ==== PAGE NAME ==== */

.page-name{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0px 0px;
}

.page-name h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2em;
}


/** ====================== 
         PAGE EQUIPE 
    ====================**/
/* ==== GLOBAL ==== */
.team-page-content{
  background-color: #5f5e5e85;
  /*padding: 0px 15%;*/
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.wrapper{
    padding: 0px 15%;
    width: 100%;
    box-sizing: border-box;
}

/* ==== options ==== */

.options{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.options button{
    background-color: #313131ae;
    stroke-width: 0;
    border: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 124px;
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.options button:hover{
    background-color: #272727cc;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.options button.active{
    background-color: #1e1e1edd;
    pointer-events: none;
}

.circle{
    fill: rgb(255, 191, 0);
}

/* ==== METRO MAP SECTION ==== */
.page h3{
    color: white;
    font-size: 2em;
}
.metro-map {
background-color: rgba(26, 26, 26, 0.739);
    border-radius: 50px;
    display: flex;
    padding: 30px;
    width: 100%; 
    height: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#metro-svg { 
    width: 100%;
    height: 100%;
    max-width: 800px;
}

/* METRO-ELEMENTS */
/* line path   */
.line-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}
/* dots */
.metro-dot {
fill: white;
  opacity: 1;
  transition: opacity 0.2s;

  transform-box: fill-box; 
  transform-origin: center;

  transform: scale(1);
  animation: appear 0.5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
    transform: translate(10px,20px);
  }
}

.metro-dot-hitbox{
    opacity: 0;
    transform-box: fill-box; 
    transform-origin: center;
}
.metro-dot-hitbox:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
/* join */
@keyframes appear {
    from {
        transform: translate(0, 10px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.metro-join {
    animation: appear 0.5s ease-out 1s backwards;
}

@keyframes appear {
    from {
        transform: translate(0, 10px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.metro-master {
    animation: appear 0.5s ease-out 3s backwards;
}


/* Card info */
.team-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  background-color: black;
  color:white;
}
/* card info styles */
#card-info {
    position: fixed;
    display: none;
    z-index: 100;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
    transform: translateY(10px) scale(0.95);

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    
    color: #ffffff; 
    font-family: 'Segoe UI', Roboto, sans-serif;
    max-width: 400px;
}

#card-info img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}

#card-info h2 {
    margin: 12px 0 4px 0;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 700;
}

#card-info h1 {
    margin: 0 0 12px 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #3498db;
    font-weight: 600;
}

#card-info h3 {
    margin: 0 0 15px 0;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #b2bec3;
    font-weight: 400;
}
#card-info p span {
    display: inline-block;
    background: rgba(52, 152, 219, 0.2);
    color: #3498db;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 6px;
    margin-top: 6px;
    border: 1px solid rgba(52, 152, 219, 0.3);
}

#card-info.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* card line */

#connector-line {
    transition: stroke-dashoffset 0.4s ease-out;
}

#connector-line.active {
    stroke-dashoffset: 0;
}


.dot-label {
    fill: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    pointer-events: none;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.metro-dot-hitbox:hover + .dot-label, 
.metro-dot-hitbox:hover ~ .dot-label {
    opacity: 1;
}

/* === LIST PAGE SECTION === */

/* #list-page {

} */


.card-list {
    display: flex;
    /* background: #020202; */
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(23, 23, 23));
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    align-items: center;
    gap: 20px;
    transition: background-image 2s;
    transition-timing-function: ease-in-out;
}

.card-list img {
    width: 150px;;
    height: 150px;
    border-radius: 100px;
}
.card-list h1, h2 {
    margin: 0;
}

.card-list h1{
    color: #3498db;
}

.card-list .right-part div {
    margin-top: 20px;
}

.card-list span {
    display: inline-block;
    background: rgba(52, 152, 219, 0.2); /* Transparent blue tint */
    color: #3498db;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 6px;
    border: 1px solid rgba(52, 152, 219, 0.3);
}

.card-list .right-part {
    display: flex;
    flex-direction: column;
}

.card-list:hover {
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(16, 16, 16));;
    cursor: pointer;
}

/** ====================== 
         PAGE EQUIPE 
    ====================**/

/* .crc-page-content section{
    padding: 0 15%;
} */

 .crc-page-content h2 {
    text-transform: uppercase;
    font-weight: 1000;
 }
.crc-page-content h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;

 }
 .crc-page-content p {
    font-size: 1.2em;
    line-height: 1.6em;

 }
 .crc-page-content ul {
    font-size: 1.2em;
    line-height: 1.6em;
 }

.crc-page-content {
    padding-top: 40px;
    margin: 0 auto;
}

.section-pieces .img-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.title-separator {
  border: 4px solid transparent; /* Set a transparent border to reserve space */
  border-width: 1px 0 1px 0;
  border-image: linear-gradient(to right, transparent, rgb(255, 255, 255),transparent); /* Apply the gradient */
  border-image-slice: 1;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.img-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-list img{
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    padding: 10px
}
.img-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: rgba(48, 48, 48, 0.47);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.section-pieces img{
    height: 150px;
    width: auto;
}





/** ======================
           RESPONSIVE
    ======================**/
@media screen and (max-width: 768px) {
    /* .card-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */
    .wrapper{
        padding: 0px 5%;
    }
    .img-list {
        flex-direction: column;
    }
    .section-pieces img{
        height: 100px;
        width: auto;
    }

}



/* =========================================================
   FIN DU FICHIER CSS
========================================================= */
